body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

h1 {
    text-align: center;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: 5px auto;
    box-sizing: border-box;
}

.product_box {
    display: inline-block;
    width: 25%;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid lime;
    background-color: rgb(89, 212, 145);
    border-radius: 10px;
    text-align: center;
}

.product_box img {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
}

.product_box h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
    color: black;
}

.description {
    font-size: 15px;
    margin: 5px 0;
    color: black;
}

.price {
    margin-top: 5px;
    font-weight: bold;
    color: red;
    font-size: 15px;
}

.product_box a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 100px;
    background-color: black;
    color: white;
}

.product_box a:hover {
    outline: 5px solid red;
}

.product_box:hover {
    outline: 5px solid red;
}
