
h1 {
    font-size: 50px;
    color: mediumblue;
    margin: 0;
    text-align: center;
}

.profile {
    width: 70%;
    max-width: 600px;
    background: limewhite;
    margin: 20px auto;
    padding: 30px;
    border: 2px solid lime;  
}

.picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
    outline-style: solid;


    
}

h2 {
    font-size: 25px;
    text-align: center;
    margin: 5px;
}

.profile-info {
    font-size: 15px;
    margin: 2px;
    color: black;
    text-align: center;
}

footer {
    text-align: left;
    margin-top: 20px;
}


footer p {
    font-size: 1em;
    color: black;
}
