body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: red;
    width: 100%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 100%;
    height: 30px;
    padding: 10px 10px;
}

nav a {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

nav a:hover {
    background-color: white;
    color: red;
}